.vmi-previewer {
  background-color: var(--c-bg);
  border: 1px solid var(--c-border);
  border-radius: 1px;

  &[data-debug] {
    margin-top: 32px;
    border-color: #ffcb00;

    &::before {
      float: left;
      padding: 3px 6px;
      margin-top: -18px;
      margin-left: -1px;
      font-size: 12px;
      line-height: 1;
      color: #735600;
      text-shadow: 0.5px 0.5px 0 hsl(0deg 0% 100% / 50%);
      content: 'DEV ONLY';
      background-color: #ffcb00;
      border-top-left-radius: 1px;
      border-top-right-radius: 1px;
    }
  }
}

.vmi-previewer-example {
  padding: 40px 24px;
}

.vmi-previewer-title {
  position: relative;

  a.header-anchor {
    position: absolute;
    top: -11px;
    left: 16px;
    padding: 0 8px;
    margin: 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--c-text);
    background: var(--c-bg);
    opacity: 1;
  }

  + .vmi-previewer-desc {
    padding-top: 6px;
  }
}

.vmi-previewer-desc {
  padding: 0 24px;
  border-top: 1px dashed var(--c-border);
}

.vmi-previewer-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  padding: 0 5px;
  border-top: 1px dashed var(--c-border);

  &-button {
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    width: 32px;
    height: 32px;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.6;
    transition: opacity 0.5s ease;

    &:hover {
      opacity: 1;
    }
  }
}

.vmi-previewer-sources {
  border-top: 1px dashed var(--c-border);

  pre[class*='language-'] {
    margin-top: 0;
    margin-bottom: 0;
  }

  div[class*='language-'] {
    border-radius: 0;
  }

  &-item {
    overflow: auto;
  }
}

.vmi-previewer-tabs {
  position: relative;
  display: flex;
  border-bottom: 1px dashed var(--c-border);

  &-tab {
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 14px;
    line-height: 36px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;

    &:hover {
      color: var(--c-brand);
    }

    svg {
      margin-right: 5px;
    }
  }

  .active::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    pointer-events: none;
    content: '';
    background: var(--c-brand);
    transition: left 0.2s, width 0.2s;
  }
}

@media (min-width: 1000px) {
  .vmi-previewer-horizontal {
    display: flex;

    .vmi-previewer-example {
      width: 300px;

      > iframe {
        height: 100%;
      }
    }

    .vmi-previewer-content {
      flex: 1;
      overflow: auto;
      border-left: 1px dashed var(--c-border);
    }

    .vmi-previewer-actions {
      border-top: 0;
    }
  }
}
