@import '_mixins';
@import '_variables';

.page {
  padding-top: var(--navbar-height);
  padding-left: var(--sidebar-width);
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  box-sizing: border-box;
  height: var(--navbar-height);
  background-color: var(--c-bg-navbar);
  border-bottom: 1px solid var(--c-border);
  transition: background-color var(--t-color), border-color var(--t-color);
}

.sidebar {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  width: var(--sidebar-width);
  margin: 0;
  overflow-y: auto;
  font-size: 16px;
  background-color: var(--c-bg-sidebar);
  border-right: 1px solid var(--c-border);
  transition: transform var(--t-transform), background-color var(--t-color),
    border-color var(--t-color);
  scrollbar-width: thin;
  scrollbar-color: var(--c-brand) var(--c-border);

  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--c-border);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--c-brand);
  }
}

.sidebar-mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  display: none;
  width: 100vw;
  height: 100vh;
}

.theme-container {
  &.sidebar-open {
    .sidebar-mask {
      display: block;
    }

    .navbar > .toggle-sidebar-button .icon {
      span {
        &:nth-child(1) {
          transform: rotate(45deg) translate3d(5.5px, 5.5px, 0);
        }

        &:nth-child(2) {
          transform: scale3d(0, 1, 1);
        }

        &:nth-child(3) {
          transform: rotate(-45deg) translate3d(6px, -6px, 0);
        }

        &:nth-child(1),
        &:nth-child(3) {
          transform-origin: center;
        }
      }
    }
  }

  &.no-navbar {
    .theme-default-content:not(.custom) > h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding-top: 0;
      margin-top: 1.5rem;
    }

    .page {
      padding-top: 0;
    }

    .sidebar {
      top: 0;
    }
  }
}

@media (min-width: ($MQMobile + 1px)) {
  .theme-container.no-sidebar {
    .sidebar {
      display: none;
    }

    .page {
      padding-left: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  .theme-default-content:not(.custom) > & {
    padding-top: calc(1rem + var(--navbar-height));
    margin-top: calc(0.5rem - var(--navbar-height));
    margin-bottom: 0;

    &:first-child {
      margin-bottom: 1rem;

      + p,
      + pre,
      + .custom-container {
        margin-top: 2rem;
      }
    }
  }
}

.theme-default-content:not(.custom) {
  @include content_wrapper;

  padding-top: 0;

  a:hover {
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }
}

.theme-default-content.custom {
  padding: 0;
  margin: 0;

  img {
    max-width: 100%;
  }
}

// narrow desktop / iPad
@media (max-width: $MQNarrow) {
  .sidebar {
    width: var(--sidebar-width-mobile);
    font-size: 15px;
  }

  .page {
    padding-left: var(--sidebar-width-mobile);
  }
}

// wide mobile
@media (max-width: $MQMobile) {
  .sidebar {
    top: 0;
    padding-top: var(--navbar-height);
    transform: translateX(-100%);
  }

  .page {
    padding-left: 0;
  }

  .theme-container {
    &.sidebar-open {
      .sidebar {
        transform: translateX(0);
      }
    }

    &.no-navbar {
      .sidebar {
        padding-top: 0;
      }
    }
  }
}

// narrow mobile
@media (max-width: $MQMobileNarrow) {
  h1 {
    font-size: 1.9rem;
  }
}
