@import '_variables';

.table-of-contents {
  .badge {
    vertical-align: middle;
  }
}

// plugin-toc
.vuepress-toc {
  position: fixed;
  top: calc(var(--navbar-height) + 2rem);
  right: 0;
  width: var(--toc-width);
  height: calc(100% - (var(--navbar-height) + 4rem));
  overflow: auto;
}

.vuepress-toc-link {
  font-size: 0.8em;
  color: var(--c-text);
  cursor: pointer;

  &:hover,
  &.active {
    color: var(--c-text-accent);
  }
}

@media (max-width: $MQNarrow) {
  .vuepress-toc {
    display: none;
  }
}
